.table0 {
         border-spacing:0;
         padding-left:4.00pt;
         padding-top:6.00pt;
         padding-right:4.00pt;
         padding-bottom:4.00pt;
         float:alignleft;
         margin-bottom:6.00pt;
         width:504.75pt;
}
.tr1 {
      height:20.00pt;
      background:#eaebeb;
}
.td2 {
      width:112.500pt;
      background:#eaebeb;
      border-top-style:solid;
      border-top-width:2px;
      border-top-color:#000000;
      border-left-style:solid;
      border-left-width:1px;
      border-left-color:#000000;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:2px;
      border-bottom-color:#000000;
      vertical-align:bottom;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
.td3 {
      width:257.250pt;
      background:#eaebeb;
      border-top-style:solid;
      border-top-width:2px;
      border-top-color:#000000;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:2px;
      border-bottom-color:#000000;
      vertical-align:bottom;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
.td4 {
      width:135.000pt;
      background:#eaebeb;
      border-top-style:solid;
      border-top-width:2px;
      border-top-color:#000000;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:2px;
      border-bottom-color:#000000;
      vertical-align:bottom;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
.tr5 {
      height:101.80pt;
      background:#ffffff;
}
.td6 {
      width:112.500pt;
      background:#ffffff;
      border-left-style:solid;
      border-left-width:1px;
      border-left-color:#000000;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:1px;
      border-bottom-color:#000000;
      vertical-align:middle;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
.td7 {
      width:257.250pt;
      background:#ffffff;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:1px;
      border-bottom-color:#000000;
      vertical-align:middle;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
#image1 {
         width:128.520pt;
         height:82.800pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
.td8 {
      width:135.000pt;
      background:#ffffff;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:1px;
      border-bottom-color:#000000;
}
.tr9 {
      height:85.53pt;
      background:#ffffff;
}
#image2 {
         width:121.752pt;
         height:66.528pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
.tr10 {
       height:65.08pt;
       background:#ffffff;
}
#image3 {
         width:83.250pt;
         height:44.250pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
.tr11 {
       height:75.52pt;
       background:#ffffff;
}
#image4 {
         width:113.112pt;
         height:56.520pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
.tr12 {
       height:35.00pt;
       background:#ffffff;
}
.td13 {
       width:135.000pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td14 {
       width:112.500pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td15 {
       width:257.250pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
#image5 {
         width:113.112pt;
         height:56.520pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
.td16 {
       width:135.000pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
}
#image6 {
         width:487.080pt;
         height:161.124pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
#image7 {
         width:426.744pt;
         height:170.280pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
#image8 {
         width:430.128pt;
         height:113.760pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
#image9 {
         width:468.792pt;
         height:163.464pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
#image10 {
          width:468.792pt;
          height:163.464pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image11 {
          width:316.259pt;
          height:118.164pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image12 {
          width:420.375pt;
          height:193.104pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image13 {
          width:265.578pt;
          height:237.960pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image14 {
          width:443.339pt;
          height:103.680pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image15 {
          width:316.224pt;
          height:181.944pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
.table17 {
          border-spacing:0;
          padding-left:4.00pt;
          padding-top:6.00pt;
          padding-right:4.00pt;
          padding-bottom:4.00pt;
          float:alignleft;
          margin-bottom:12.00pt;
          width:504.75pt;
}
.td18 {
       width:178.250pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td19 {
       width:326.501pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.tr20 {
       height:32.00pt;
       background:#ffffff;
}
.td21 {
       width:45.000pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td22 {
       width:133.250pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td23 {
       width:326.501pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.tr24 {
       height:29.00pt;
       background:#ffffff;
}
.td25 {
       width:45.000pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td26 {
       width:133.250pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td27 {
       width:326.501pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
#image16 {
          width:430.560pt;
          height:234.360pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image17 {
          width:435.774pt;
          height:93.329pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image18 {
          width:374.010pt;
          height:182.664pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image19 {
          width:305.220pt;
          height:167.706pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
.table28 {
          border-spacing:0;
          padding-left:4.00pt;
          padding-top:6.00pt;
          padding-right:4.00pt;
          padding-bottom:4.00pt;
          float:alignleft;
          margin-bottom:12.00pt;
          width:504.63pt;
}
.tr29 {
       height:22.40pt;
       background:#eaebeb;
}
.td30 {
       width:71.000pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td31 {
       width:63.000pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td32 {
       width:370.626pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td33 {
       width:71.000pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td34 {
       width:63.000pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td35 {
       width:370.626pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.tr36 {
       height:19.00pt;
       background:#ffffff;
}
.tr37 {
       height:58.00pt;
       background:#ffffff;
}
.td38 {
       width:71.000pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td39 {
       width:63.000pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td40 {
       width:370.626pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
#image20 {
          width:390.744pt;
          height:88.370pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image21 {
          width:449.856pt;
          height:157.248pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image22 {
          width:504.726pt;
          height:180.086pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image23 {
          width:449.868pt;
          height:167.764pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image24 {
          width:504.726pt;
          height:172.585pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image25 {
          width:342.000pt;
          height:212.256pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image26 {
          width:351.000pt;
          height:204.120pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image27 {
          width:342.000pt;
          height:137.696pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image28 {
          width:342.000pt;
          height:160.404pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image29 {
          width:342.000pt;
          height:163.946pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image30 {
          width:342.000pt;
          height:126.864pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
.table41 {
          border-spacing:0;
          padding-left:4.00pt;
          padding-top:6.00pt;
          padding-right:4.00pt;
          padding-bottom:4.00pt;
          float:alignleft;
          margin-bottom:12.00pt;
          width:469.00pt;
}
.td42 {
       width:114.000pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td43 {
       width:355.000pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.tr44 {
       height:88.00pt;
       background:#ffffff;
}
.td45 {
       width:114.000pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td46 {
       width:355.000pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.tr47 {
       height:36.00pt;
       background:#ffffff;
}
.td48 {
       width:114.000pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td49 {
       width:355.000pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
#image31 {
          width:504.864pt;
          height:172.368pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image32 {
          width:501.696pt;
          height:137.376pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image33 {
          width:501.696pt;
          height:143.774pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image34 {
          width:316.259pt;
          height:181.914pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
.table50 {
          border-spacing:0;
          padding-left:4.00pt;
          padding-top:6.00pt;
          padding-right:4.00pt;
          padding-bottom:4.00pt;
          float:alignleft;
          margin-bottom:12.00pt;
          width:361.27pt;
}
.tr51 {
       height:31.00pt;
       background:#eaebeb;
}
.td52 {
       width:281.136pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td53 {
       width:39.126pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td54 {
       width:41.010pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td55 {
       width:281.136pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td56 {
       width:39.126pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td57 {
       width:41.010pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td58 {
       width:281.136pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td59 {
       width:39.126pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td60 {
       width:41.010pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
#image35 {
          width:504.024pt;
          height:93.329pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
.td61 {
       width:90.996pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td62 {
       width:214.378pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td63 {
       width:199.377pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td64 {
       width:90.996pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td65 {
       width:214.378pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td66 {
       width:199.377pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.tr67 {
       height:49.00pt;
       background:#ffffff;
}
.tr68 {
       height:94.00pt;
       background:#ffffff;
}
.tr69 {
       height:45.00pt;
       background:#ffffff;
}
.td70 {
       width:214.378pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td71 {
       width:199.377pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.tr72 {
       height:83.00pt;
       background:#ffffff;
}
.tr73 {
       height:39.00pt;
       background:#ffffff;
}
.td74 {
       width:413.755pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.tr75 {
       height:42.00pt;
       background:#ffffff;
}
.td76 {
       width:90.996pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td77 {
       width:214.378pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td78 {
       width:199.377pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.table79 {
          border-spacing:0;
          padding-left:4.00pt;
          padding-top:6.00pt;
          padding-right:4.00pt;
          padding-bottom:4.00pt;
          float:alignleft;
          margin-bottom:12.00pt;
          width:504.68pt;
}
.td80 {
       width:103.000pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td81 {
       width:26.000pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td82 {
       width:375.684pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td83 {
       width:103.000pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td84 {
       width:26.000pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td85 {
       width:375.684pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td86 {
       width:375.684pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td87 {
       width:103.000pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td88 {
       width:26.000pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td89 {
       width:375.684pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
#image36 {
          width:504.936pt;
          height:435.018pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image37 {
          width:498.542pt;
          height:368.200pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image38 {
          width:468.792pt;
          height:163.464pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image39 {
          width:412.835pt;
          height:61.848pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image40 {
          width:419.251pt;
          height:143.554pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image41 {
          width:419.251pt;
          height:227.304pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image42 {
          width:470.839pt;
          height:143.634pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image43 {
          width:99.749pt;
          height:35.999pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
.table90 {
          border-spacing:0;
          padding-left:4.00pt;
          padding-top:6.00pt;
          padding-right:4.00pt;
          padding-bottom:4.00pt;
          float:alignleft;
          width:487.50pt;
}
.tr91 {
       height:31.00pt;
       background:#e5e5e5;
}
.td92 {
       width:51.750pt;
       background:#e5e5e5;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td93 {
       width:84.000pt;
       background:#e5e5e5;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td94 {
       width:351.751pt;
       background:#e5e5e5;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td95 {
       width:51.750pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td96 {
       width:84.000pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td97 {
       width:351.751pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.tr98 {
       height:110.00pt;
       background:#ffffff;
}
.td99 {
       width:51.750pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td100 {
        width:84.000pt;
        background:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:2px;
        border-bottom-color:#000000;
        vertical-align:top;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
.td101 {
        width:351.751pt;
        background:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:2px;
        border-bottom-color:#000000;
        vertical-align:top;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
