.table0 {
         border-spacing:0;
         padding-left:6.00pt;
         padding-top:6.00pt;
         padding-right:6.00pt;
         padding-bottom:4.00pt;
         float:alignleft;
         width:463.12pt;
}
.tr1 {
      height:119.03pt;
}
#image1 {
         width:217.976pt;
         height:88.031pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
.td2 {
      width:463.118pt;
      border-top-style:solid;
      border-top-width:2px;
      border-top-color:#6a8e9a;
      border-bottom-style:solid;
      border-bottom-width:1px;
      border-bottom-color:#6a8e9a;
      vertical-align:top;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
.table3 {
         border-spacing:0;
         padding-left:4.00pt;
         padding-top:6.00pt;
         padding-right:4.00pt;
         padding-bottom:4.00pt;
         float:alignleft;
         margin-bottom:12.00pt;
         width:504.39pt;
}
.tr4 {
      height:19.00pt;
      background:#ffffff;
}
.td5 {
      width:66.360pt;
      background:#ffffff;
      border-top-style:solid;
      border-top-width:2px;
      border-top-color:#000000;
      border-left-style:solid;
      border-left-width:1px;
      border-left-color:#000000;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:1px;
      border-bottom-color:#000000;
      vertical-align:middle;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
.td6 {
      width:172.889pt;
      background:#ffffff;
      border-top-style:solid;
      border-top-width:2px;
      border-top-color:#000000;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:1px;
      border-bottom-color:#000000;
      vertical-align:top;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
#image2 {
         width:265.104pt;
         height:36.750pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
.td7 {
      width:265.140pt;
      background:#ffffff;
      border-top-style:solid;
      border-top-width:2px;
      border-top-color:#000000;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:1px;
      border-bottom-color:#000000;
      vertical-align:top;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
.tr8 {
      height:19.00pt;
      background:#ffffff;
}
.td9 {
      width:66.360pt;
      background:#ffffff;
      border-left-style:solid;
      border-left-width:1px;
      border-left-color:#000000;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:1px;
      border-bottom-color:#000000;
      vertical-align:middle;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
.td10 {
       width:172.889pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.tr11 {
       height:46.75pt;
       background:#ffffff;
}
.td12 {
       width:66.360pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td13 {
       width:172.889pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
#image3 {
         width:29.496pt;
         height:45.798pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
#image4 {
         width:209.263pt;
         height:190.482pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
#image5 {
         width:504.000pt;
         height:81.000pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
#image6 {
         width:363.000pt;
         height:129.084pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
#image7 {
         width:360.360pt;
         height:125.784pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
#image8 {
         width:379.368pt;
         height:190.800pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
#image9 {
         width:390.744pt;
         height:222.192pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
#image10 {
          width:440.274pt;
          height:172.080pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image11 {
          width:486.775pt;
          height:172.080pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image12 {
          width:440.274pt;
          height:172.080pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image13 {
          width:440.274pt;
          height:172.080pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image14 {
          width:417.000pt;
          height:150.750pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image15 {
          width:450.792pt;
          height:152.928pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image16 {
          width:423.794pt;
          height:206.424pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image17 {
          width:401.328pt;
          height:38.448pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image18 {
          width:401.328pt;
          height:98.448pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image19 {
          width:30.246pt;
          height:44.298pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image20 {
          width:379.368pt;
          height:190.800pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image21 {
          width:486.840pt;
          height:147.576pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image22 {
          width:28.960pt;
          height:43.869pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image23 {
          width:462.024pt;
          height:268.560pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image24 {
          width:252.720pt;
          height:169.632pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image25 {
          width:486.792pt;
          height:195.834pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image26 {
          width:264.024pt;
          height:206.352pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image27 {
          width:375.048pt;
          height:213.048pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image28 {
          width:486.774pt;
          height:147.096pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image29 {
          width:200.232pt;
          height:172.584pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image30 {
          width:308.244pt;
          height:182.310pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image31 {
          width:51.960pt;
          height:45.060pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
.table14 {
          border-spacing:0;
          padding-left:6.00pt;
          padding-top:6.00pt;
          padding-right:6.00pt;
          padding-bottom:4.00pt;
          float:alignleft;
          width:504.61pt;
}
.tr15 {
       height:22.00pt;
}
.td16 {
       width:1.491pt;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#6a8e9a;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#6a8e9a;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td17 {
       width:503.119pt;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#6a8e9a;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#6a8e9a;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.table18 {
          border-spacing:0;
          padding-left:4.00pt;
          padding-top:6.00pt;
          padding-right:4.00pt;
          padding-bottom:4.00pt;
          float:alignleft;
          width:504.50pt;
}
.tr19 {
       height:20.00pt;
       background:#e5e5e5;
}
.td20 {
       width:40.000pt;
       background:#e5e5e5;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td21 {
       width:85.000pt;
       background:#e5e5e5;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td22 {
       width:57.000pt;
       background:#e5e5e5;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td23 {
       width:322.501pt;
       background:#e5e5e5;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td24 {
       width:40.000pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td25 {
       width:85.000pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td26 {
       width:57.000pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td27 {
       width:322.501pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.tr28 {
       height:36.00pt;
       background:#ffffff;
}
.tr29 {
       height:48.00pt;
       background:#ffffff;
}
.tr30 {
       height:29.00pt;
       background:#ffffff;
}
.td31 {
       width:57.000pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td32 {
       width:322.501pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
#image32 {
          width:258.528pt;
          height:194.904pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image33 {
          width:381.024pt;
          height:212.328pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image34 {
          width:381.024pt;
          height:212.328pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image35 {
          width:407.899pt;
          height:256.078pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
.table33 {
          border-spacing:0;
          padding-left:4.00pt;
          padding-top:6.00pt;
          padding-right:4.00pt;
          padding-bottom:4.00pt;
          float:alignleft;
          margin-bottom:12.00pt;
          width:504.84pt;
}
.tr34 {
       height:20.00pt;
       background:#b2b2b2;
}
.td35 {
       width:198.928pt;
       background:#b2b2b2;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td36 {
       width:305.915pt;
       background:#b2b2b2;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td37 {
       width:198.928pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td38 {
       width:305.915pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td39 {
       width:198.928pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td40 {
       width:305.915pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.table41 {
          border-spacing:0;
          padding-left:6.00pt;
          padding-top:6.00pt;
          padding-right:6.00pt;
          padding-bottom:4.00pt;
          float:alignleft;
          width:504.86pt;
}
.tr42 {
       height:31.00pt;
}
.td43 {
       width:35.866pt;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td44 {
       width:468.994pt;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#6a8e9a;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#6a8e9a;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
#image36 {
          width:99.749pt;
          height:35.999pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
.table45 {
          border-spacing:0;
          padding-left:4.00pt;
          padding-top:6.00pt;
          padding-right:4.00pt;
          padding-bottom:4.00pt;
          float:alignleft;
          width:487.50pt;
}
.tr46 {
       height:31.00pt;
       background:#e5e5e5;
}
.td47 {
       width:51.750pt;
       background:#e5e5e5;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td48 {
       width:84.000pt;
       background:#e5e5e5;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td49 {
       width:351.751pt;
       background:#e5e5e5;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td50 {
       width:51.750pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td51 {
       width:84.000pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td52 {
       width:351.751pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
