.table0 {
         border-spacing:0;
         padding-left:4.00pt;
         padding-top:6.00pt;
         padding-right:4.00pt;
         padding-bottom:4.00pt;
         float:alignleft;
         margin-bottom:12.00pt;
         width:306.75pt;
}
.tr1 {
      height:45.00pt;
      background:#ffffff;
}
.td2 {
      width:66.360pt;
      background:#ffffff;
      border-top-style:solid;
      border-top-width:2px;
      border-top-color:#000000;
      border-left-style:solid;
      border-left-width:1px;
      border-left-color:#000000;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:1px;
      border-bottom-color:#000000;
      vertical-align:middle;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
.td3 {
      width:240.390pt;
      background:#ffffff;
      border-top-style:solid;
      border-top-width:2px;
      border-top-color:#000000;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:1px;
      border-bottom-color:#000000;
      vertical-align:top;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
.tr4 {
      height:19.00pt;
      background:#ffffff;
}
.td5 {
      width:66.360pt;
      background:#ffffff;
      border-left-style:solid;
      border-left-width:1px;
      border-left-color:#000000;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:1px;
      border-bottom-color:#000000;
      vertical-align:middle;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
.td6 {
      width:240.390pt;
      background:#ffffff;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:1px;
      border-bottom-color:#000000;
      vertical-align:top;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
.tr7 {
      height:32.00pt;
      background:#ffffff;
}
.td8 {
      width:66.360pt;
      background:#ffffff;
      border-left-style:solid;
      border-left-width:1px;
      border-left-color:#000000;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:2px;
      border-bottom-color:#000000;
      vertical-align:middle;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
.td9 {
      width:240.390pt;
      background:#ffffff;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:2px;
      border-bottom-color:#000000;
      vertical-align:middle;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
.table10 {
          border-spacing:0;
          padding-left:4.00pt;
          padding-top:6.00pt;
          padding-right:4.00pt;
          padding-bottom:4.00pt;
          float:alignleft;
          width:504.75pt;
}
.tr11 {
       height:52.97pt;
       background:#ffffff;
}
#image1 {
         width:72.295pt;
         height:42.971pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
.td12 {
       width:87.000pt;
       background:#ffffff;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td13 {
       width:417.751pt;
       background:#ffffff;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.tr14 {
       height:64.97pt;
       background:#ffffff;
}
#image2 {
         width:72.252pt;
         height:54.972pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
.table15 {
          border-spacing:0;
          padding-left:4.00pt;
          padding-top:6.00pt;
          padding-right:4.00pt;
          padding-bottom:4.00pt;
          float:alignleft;
          width:268.50pt;
}
.tr16 {
       height:75.30pt;
       background:#ffffff;
}
#image3 {
         width:57.246pt;
         height:65.298pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
.td17 {
       width:72.000pt;
       background:#ffffff;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td18 {
       width:196.500pt;
       background:#ffffff;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
#image4 {
         width:308.529pt;
         height:63.656pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
#image5 {
         width:209.232pt;
         height:187.992pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
#image6 {
         width:520.762pt;
         height:219.540pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
#image7 {
         width:505.512pt;
         height:228.041pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
#image8 {
         width:363.000pt;
         height:100.584pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
#image9 {
         width:360.360pt;
         height:125.784pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
#image10 {
          width:379.368pt;
          height:190.800pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image11 {
          width:390.744pt;
          height:213.192pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image12 {
          width:430.524pt;
          height:172.080pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image13 {
          width:468.792pt;
          height:166.464pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image14 {
          width:311.294pt;
          height:206.424pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image15 {
          width:67.871pt;
          height:59.048pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image16 {
          width:443.339pt;
          height:98.424pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image17 {
          width:443.339pt;
          height:59.112pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image18 {
          width:443.304pt;
          height:75.168pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image19 {
          width:443.304pt;
          height:63.144pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image20 {
          width:443.339pt;
          height:57.456pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image21 {
          width:443.339pt;
          height:55.368pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image22 {
          width:443.339pt;
          height:54.864pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image23 {
          width:443.339pt;
          height:47.161pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image24 {
          width:61.121pt;
          height:59.048pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image25 {
          width:390.780pt;
          height:285.768pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image26 {
          width:174.816pt;
          height:251.928pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image27 {
          width:353.952pt;
          height:125.136pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image28 {
          width:142.920pt;
          height:96.552pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image29 {
          width:221.472pt;
          height:130.896pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image30 {
          width:423.432pt;
          height:85.176pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image31 {
          width:462.024pt;
          height:265.176pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image32 {
          width:259.200pt;
          height:351.720pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image33 {
          width:154.476pt;
          height:130.608pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image34 {
          width:468.720pt;
          height:66.096pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image35 {
          width:354.024pt;
          height:193.608pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image36 {
          width:443.304pt;
          height:93.096pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image37 {
          width:486.792pt;
          height:210.096pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image38 {
          width:486.720pt;
          height:216.288pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image39 {
          width:486.792pt;
          height:111.816pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image40 {
          width:465.768pt;
          height:447.840pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image41 {
          width:443.304pt;
          height:88.560pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image42 {
          width:71.621pt;
          height:68.798pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image43 {
          width:483.048pt;
          height:42.408pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image44 {
          width:495.000pt;
          height:59.328pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
.table19 {
          border-spacing:0;
          padding-left:4.00pt;
          padding-top:6.00pt;
          padding-right:4.00pt;
          padding-bottom:4.00pt;
          float:alignleft;
          margin-left:36.00pt;
          width:479.25pt;
}
.tr20 {
       height:20.00pt;
       background:#ffffff;
}
.td21 {
       width:479.250pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td22 {
       width:479.250pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td23 {
       width:92.017pt;
       background:#eaebeb;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td24 {
       width:71.569pt;
       background:#eaebeb;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td25 {
       width:315.663pt;
       background:#eaebeb;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td26 {
       width:92.017pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td27 {
       width:71.569pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td28 {
       width:315.663pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.tr29 {
       height:41.00pt;
       background:#ffffff;
}
.tr30 {
       height:52.00pt;
       background:#ffffff;
}
.td31 {
       width:479.250pt;
       background:#eaebeb;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.tr32 {
       height:58.00pt;
       background:#ffffff;
}
.td33 {
       width:479.250pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
#image45 {
          width:443.304pt;
          height:75.384pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image46 {
          width:443.304pt;
          height:39.312pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image47 {
          width:443.304pt;
          height:103.176pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image48 {
          width:443.304pt;
          height:72.360pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image49 {
          width:466.560pt;
          height:71.640pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image50 {
          width:468.792pt;
          height:166.464pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image51 {
          width:443.304pt;
          height:31.896pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image52 {
          width:443.304pt;
          height:47.664pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image53 {
          width:443.304pt;
          height:103.176pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image54 {
          width:443.304pt;
          height:72.360pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image55 {
          width:443.304pt;
          height:33.336pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
.table34 {
          border-spacing:0;
          padding-left:6.00pt;
          padding-top:6.00pt;
          padding-right:6.00pt;
          padding-bottom:4.00pt;
          float:alignleft;
          width:504.61pt;
}
.tr35 {
       height:22.00pt;
}
.td36 {
       width:1.491pt;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#6a8e9a;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#6a8e9a;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td37 {
       width:503.119pt;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#6a8e9a;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#6a8e9a;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.table38 {
          border-spacing:0;
          padding-left:4.00pt;
          padding-top:6.00pt;
          padding-right:4.00pt;
          padding-bottom:4.00pt;
          float:alignleft;
          width:504.50pt;
}
.tr39 {
       height:20.00pt;
       background:#e5e5e5;
}
.td40 {
       width:40.000pt;
       background:#e5e5e5;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td41 {
       width:85.000pt;
       background:#e5e5e5;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td42 {
       width:57.000pt;
       background:#e5e5e5;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td43 {
       width:322.501pt;
       background:#e5e5e5;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td44 {
       width:40.000pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td45 {
       width:85.000pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td46 {
       width:57.000pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td47 {
       width:322.501pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.tr48 {
       height:36.00pt;
       background:#ffffff;
}
.tr49 {
       height:48.00pt;
       background:#ffffff;
}
.tr50 {
       height:29.00pt;
       background:#ffffff;
}
.td51 {
       width:57.000pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td52 {
       width:322.501pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
#image56 {
          width:309.107pt;
          height:261.246pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image57 {
          width:383.904pt;
          height:191.880pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image58 {
          width:309.096pt;
          height:74.232pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image59 {
          width:442.512pt;
          height:150.336pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image60 {
          width:460.728pt;
          height:179.784pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image61 {
          width:99.749pt;
          height:35.999pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
.table53 {
          border-spacing:0;
          padding-left:4.00pt;
          padding-top:6.00pt;
          padding-right:4.00pt;
          padding-bottom:4.00pt;
          float:alignleft;
          width:487.50pt;
}
.tr54 {
       height:31.00pt;
       background:#e5e5e5;
}
.td55 {
       width:51.750pt;
       background:#e5e5e5;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td56 {
       width:84.000pt;
       background:#e5e5e5;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td57 {
       width:351.751pt;
       background:#e5e5e5;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td58 {
       width:51.750pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td59 {
       width:84.000pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td60 {
       width:351.751pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
