.table0 {
         border-spacing:0;
         padding-left:4.00pt;
         padding-top:6.00pt;
         padding-right:4.00pt;
         padding-bottom:4.00pt;
         float:alignleft;
         margin-bottom:6.00pt;
         width:504.75pt;
}
.tr1 {
      height:20.00pt;
      background:#eaebeb;
}
.td2 {
      width:112.500pt;
      background:#eaebeb;
      border-top-style:solid;
      border-top-width:2px;
      border-top-color:#000000;
      border-left-style:solid;
      border-left-width:1px;
      border-left-color:#000000;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:2px;
      border-bottom-color:#000000;
      vertical-align:bottom;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
.td3 {
      width:257.250pt;
      background:#eaebeb;
      border-top-style:solid;
      border-top-width:2px;
      border-top-color:#000000;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:2px;
      border-bottom-color:#000000;
      vertical-align:bottom;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
.td4 {
      width:135.000pt;
      background:#eaebeb;
      border-top-style:solid;
      border-top-width:2px;
      border-top-color:#000000;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:2px;
      border-bottom-color:#000000;
      vertical-align:bottom;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
.tr5 {
      height:101.80pt;
      background:#ffffff;
}
.td6 {
      width:112.500pt;
      background:#ffffff;
      border-left-style:solid;
      border-left-width:1px;
      border-left-color:#000000;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:1px;
      border-bottom-color:#000000;
      vertical-align:middle;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
.td7 {
      width:257.250pt;
      background:#ffffff;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:1px;
      border-bottom-color:#000000;
      vertical-align:middle;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
#image1 {
         width:122.908pt;
         height:82.800pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
.td8 {
      width:135.000pt;
      background:#ffffff;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:1px;
      border-bottom-color:#000000;
}
.tr9 {
      height:57.77pt;
      background:#ffffff;
}
#image2 {
         width:123.391pt;
         height:38.766pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
.tr10 {
       height:88.02pt;
       background:#ffffff;
}
#image3 {
         width:126.966pt;
         height:56.016pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
.tr11 {
       height:85.53pt;
       background:#ffffff;
}
#image4 {
         width:121.716pt;
         height:66.528pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
.td12 {
       width:135.000pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.tr13 {
       height:67.52pt;
       background:#ffffff;
}
#image5 {
         width:113.216pt;
         height:48.516pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
#image6 {
         width:113.716pt;
         height:48.516pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
.tr14 {
       height:55.00pt;
       background:#ffffff;
}
#image7 {
         width:113.243pt;
         height:25.016pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
.tr15 {
       height:35.00pt;
       background:#ffffff;
}
.tr16 {
       height:66.54pt;
       background:#ffffff;
}
.td17 {
       width:112.500pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td18 {
       width:257.250pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
#image8 {
         width:113.077pt;
         height:56.542pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
.td19 {
       width:135.000pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.table20 {
          border-spacing:0;
          padding-left:4.00pt;
          padding-top:6.00pt;
          padding-right:4.00pt;
          padding-bottom:4.00pt;
          float:alignleft;
          margin-bottom:12.00pt;
          width:506.00pt;
}
.tr21 {
       height:19.00pt;
       background:#b2b2b2;
}
.td22 {
       width:25.000pt;
       background:#b2b2b2;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td23 {
       width:481.000pt;
       background:#b2b2b2;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.tr24 {
       height:21.13pt;
       background:#b2b2b2;
}
.td25 {
       width:25.000pt;
       background:#b2b2b2;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td26 {
       width:101.791pt;
       background:#b2b2b2;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td27 {
       width:94.802pt;
       background:#b2b2b2;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td28 {
       width:94.802pt;
       background:#b2b2b2;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.tr29 {
       height:18.00pt;
       background:#ffffff;
}
.td30 {
       width:25.000pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td31 {
       width:101.791pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td32 {
       width:94.802pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.tr33 {
       height:28.00pt;
       background:#ffffff;
}
.td34 {
       width:25.000pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td35 {
       width:101.791pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td36 {
       width:94.802pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
#image9 {
         width:388.872pt;
         height:169.416pt;
         margin-top:10pt;
         margin-bottom:20pt;
}
#image10 {
          width:487.080pt;
          height:186.624pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image11 {
          width:363.000pt;
          height:100.584pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image12 {
          width:520.860pt;
          height:103.284pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image13 {
          width:468.792pt;
          height:163.464pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image14 {
          width:311.294pt;
          height:206.424pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image15 {
          width:381.024pt;
          height:212.328pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image16 {
          width:421.860pt;
          height:193.824pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image17 {
          width:258.528pt;
          height:194.904pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
.table37 {
          border-spacing:0;
          padding-left:4.00pt;
          padding-top:6.00pt;
          padding-right:4.00pt;
          padding-bottom:4.00pt;
          float:alignleft;
          margin-bottom:12.00pt;
          width:504.75pt;
}
.td38 {
       width:190.250pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td39 {
       width:314.500pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.tr40 {
       height:19.00pt;
       background:#ffffff;
}
.td41 {
       width:45.000pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td42 {
       width:145.250pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td43 {
       width:314.500pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td44 {
       width:314.500pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.tr45 {
       height:29.00pt;
       background:#ffffff;
}
.td46 {
       width:45.000pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td47 {
       width:145.250pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td48 {
       width:314.500pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
#image18 {
          width:514.260pt;
          height:182.664pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image19 {
          width:504.024pt;
          height:172.080pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image20 {
          width:450.720pt;
          height:201.456pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image21 {
          width:366.768pt;
          height:185.112pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
.table49 {
          border-spacing:0;
          padding-left:4.00pt;
          padding-top:6.00pt;
          padding-right:4.00pt;
          padding-bottom:4.00pt;
          float:alignleft;
          margin-bottom:12.00pt;
          width:378.50pt;
}
.tr50 {
       height:22.40pt;
       background:#eaebeb;
}
.td51 {
       width:46.125pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td52 {
       width:63.000pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td53 {
       width:269.376pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td54 {
       width:46.125pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td55 {
       width:63.000pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td56 {
       width:269.376pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.tr57 {
       height:45.00pt;
       background:#ffffff;
}
.td58 {
       width:46.125pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td59 {
       width:63.000pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td60 {
       width:269.376pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
#image22 {
          width:390.744pt;
          height:209.442pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image23 {
          width:449.868pt;
          height:190.800pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image24 {
          width:379.368pt;
          height:190.800pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image25 {
          width:449.868pt;
          height:190.800pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image26 {
          width:234.000pt;
          height:153.072pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image27 {
          width:233.280pt;
          height:90.144pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image28 {
          width:418.500pt;
          height:219.024pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image29 {
          width:351.000pt;
          height:204.840pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image30 {
          width:342.000pt;
          height:213.480pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image31 {
          width:342.000pt;
          height:241.560pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image32 {
          width:342.000pt;
          height:213.768pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image33 {
          width:342.000pt;
          height:213.768pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image34 {
          width:342.000pt;
          height:199.512pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image35 {
          width:342.000pt;
          height:213.768pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
.table61 {
          border-spacing:0;
          padding-left:4.00pt;
          padding-top:6.00pt;
          padding-right:4.00pt;
          padding-bottom:4.00pt;
          float:alignleft;
          margin-bottom:12.00pt;
          width:378.25pt;
}
.td62 {
       width:112.000pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td63 {
       width:266.250pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td64 {
       width:112.000pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td65 {
       width:266.250pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.tr66 {
       height:36.00pt;
       background:#ffffff;
}
.td67 {
       width:112.000pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td68 {
       width:266.250pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
#image36 {
          width:504.864pt;
          height:599.352pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image37 {
          width:501.696pt;
          height:246.096pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image38 {
          width:501.696pt;
          height:246.096pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
.tr69 {
       height:31.00pt;
       background:#eaebeb;
}
.td70 {
       width:90.996pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td71 {
       width:214.378pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td72 {
       width:199.377pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.tr73 {
       height:39.00pt;
       background:#ffffff;
}
.td74 {
       width:90.996pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td75 {
       width:214.378pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td76 {
       width:199.377pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.tr77 {
       height:32.00pt;
       background:#ffffff;
}
.td78 {
       width:413.755pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:middle;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.tr79 {
       height:110.00pt;
       background:#ffffff;
}
.td80 {
       width:199.377pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.table81 {
          border-spacing:0;
          padding-left:4.00pt;
          padding-top:6.00pt;
          padding-right:4.00pt;
          padding-bottom:4.00pt;
          float:alignleft;
          margin-bottom:12.00pt;
          width:361.27pt;
}
.td82 {
       width:281.136pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td83 {
       width:39.126pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td84 {
       width:41.010pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td85 {
       width:281.136pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td86 {
       width:39.126pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td87 {
       width:41.010pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td88 {
       width:281.136pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td89 {
       width:39.126pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td90 {
       width:41.010pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.table91 {
          border-spacing:0;
          padding-left:4.00pt;
          padding-top:6.00pt;
          padding-right:4.00pt;
          padding-bottom:4.00pt;
          float:alignleft;
          margin-bottom:12.00pt;
          width:379.00pt;
}
.td92 {
       width:25.000pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td93 {
       width:81.500pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td94 {
       width:272.501pt;
       background:#eaebeb;
       border-top-style:solid;
       border-top-width:2px;
       border-top-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:bottom;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td95 {
       width:25.000pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td96 {
       width:81.500pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td97 {
       width:272.501pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td98 {
       width:25.000pt;
       background:#ffffff;
       border-left-style:solid;
       border-left-width:1px;
       border-left-color:#000000;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td99 {
       width:81.500pt;
       background:#ffffff;
       border-right-style:solid;
       border-right-width:1px;
       border-right-color:#000000;
       border-bottom-style:solid;
       border-bottom-width:2px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td100 {
        width:272.501pt;
        background:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:2px;
        border-bottom-color:#000000;
        vertical-align:top;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
.table101 {
           border-spacing:0;
           padding-left:4.00pt;
           padding-top:6.00pt;
           padding-right:4.00pt;
           padding-bottom:4.00pt;
           float:alignleft;
           margin-bottom:12.00pt;
           width:378.88pt;
}
.td102 {
        width:103.000pt;
        background:#eaebeb;
        border-top-style:solid;
        border-top-width:2px;
        border-top-color:#000000;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:2px;
        border-bottom-color:#000000;
        vertical-align:bottom;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
.td103 {
        width:250.876pt;
        background:#eaebeb;
        border-top-style:solid;
        border-top-width:2px;
        border-top-color:#000000;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:2px;
        border-bottom-color:#000000;
        vertical-align:bottom;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
.td104 {
        width:103.000pt;
        background:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:1px;
        border-bottom-color:#000000;
        vertical-align:top;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
.td105 {
        width:250.876pt;
        background:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:1px;
        border-bottom-color:#000000;
        vertical-align:top;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
.td106 {
        width:250.876pt;
        background:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:1px;
        border-bottom-color:#000000;
        vertical-align:middle;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
.td107 {
        width:103.000pt;
        background:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:2px;
        border-bottom-color:#000000;
        vertical-align:top;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
.td108 {
        width:250.876pt;
        background:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:2px;
        border-bottom-color:#000000;
        vertical-align:top;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
.table109 {
           border-spacing:0;
           padding-left:4.00pt;
           padding-top:6.00pt;
           padding-right:4.00pt;
           padding-bottom:4.00pt;
           float:alignleft;
           margin-bottom:12.00pt;
           width:375.18pt;
}
.td110 {
        width:101.000pt;
        background:#eaebeb;
        border-top-style:solid;
        border-top-width:2px;
        border-top-color:#000000;
        border-left-style:solid;
        border-left-width:1px;
        border-left-color:#000000;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:2px;
        border-bottom-color:#000000;
        vertical-align:bottom;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
.td111 {
        width:26.000pt;
        background:#eaebeb;
        border-top-style:solid;
        border-top-width:2px;
        border-top-color:#000000;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:2px;
        border-bottom-color:#000000;
        vertical-align:bottom;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
.td112 {
        width:57.000pt;
        background:#eaebeb;
        border-top-style:solid;
        border-top-width:2px;
        border-top-color:#000000;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:2px;
        border-bottom-color:#000000;
        vertical-align:bottom;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
.td113 {
        width:191.184pt;
        background:#eaebeb;
        border-top-style:solid;
        border-top-width:2px;
        border-top-color:#000000;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:2px;
        border-bottom-color:#000000;
        vertical-align:bottom;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
.td114 {
        width:101.000pt;
        background:#ffffff;
        border-left-style:solid;
        border-left-width:1px;
        border-left-color:#000000;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:1px;
        border-bottom-color:#000000;
        vertical-align:middle;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
.td115 {
        width:26.000pt;
        background:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:1px;
        border-bottom-color:#000000;
        vertical-align:middle;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
.td116 {
        width:57.000pt;
        background:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:1px;
        border-bottom-color:#000000;
        vertical-align:middle;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
.td117 {
        width:191.184pt;
        background:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:1px;
        border-bottom-color:#000000;
        vertical-align:middle;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
.tr118 {
        height:46.00pt;
        background:#ffffff;
}
.td119 {
        width:191.184pt;
        background:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:1px;
        border-bottom-color:#000000;
        vertical-align:top;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
.tr120 {
        height:70.00pt;
        background:#ffffff;
}
.td121 {
        width:57.000pt;
        background:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:2px;
        border-bottom-color:#000000;
        vertical-align:middle;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
.td122 {
        width:191.184pt;
        background:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:2px;
        border-bottom-color:#000000;
        vertical-align:middle;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
#image39 {
          width:505.656pt;
          height:346.536pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image40 {
          width:504.648pt;
          height:322.920pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image41 {
          width:341.220pt;
          height:276.768pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image42 {
          width:486.288pt;
          height:183.312pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
#image43 {
          width:99.749pt;
          height:35.999pt;
          margin-top:10pt;
          margin-bottom:20pt;
}
.table123 {
           border-spacing:0;
           padding-left:4.00pt;
           padding-top:6.00pt;
           padding-right:4.00pt;
           padding-bottom:4.00pt;
           float:alignleft;
           width:487.50pt;
}
.tr124 {
        height:31.00pt;
        background:#c1c3c5;
}
.td125 {
        width:51.750pt;
        background:#c1c3c5;
        border-top-style:solid;
        border-top-width:2px;
        border-top-color:#000000;
        border-left-style:solid;
        border-left-width:1px;
        border-left-color:#000000;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:2px;
        border-bottom-color:#000000;
        vertical-align:top;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
.td126 {
        width:84.000pt;
        background:#c1c3c5;
        border-top-style:solid;
        border-top-width:2px;
        border-top-color:#000000;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:2px;
        border-bottom-color:#000000;
        vertical-align:top;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
.td127 {
        width:351.751pt;
        background:#c1c3c5;
        border-top-style:solid;
        border-top-width:2px;
        border-top-color:#000000;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:2px;
        border-bottom-color:#000000;
        vertical-align:top;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
.td128 {
        width:51.750pt;
        background:#ffffff;
        border-left-style:solid;
        border-left-width:1px;
        border-left-color:#000000;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:1px;
        border-bottom-color:#000000;
        vertical-align:top;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
.td129 {
        width:84.000pt;
        background:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:1px;
        border-bottom-color:#000000;
        vertical-align:top;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
.td130 {
        width:351.751pt;
        background:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:1px;
        border-bottom-color:#000000;
        vertical-align:top;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
.td131 {
        width:51.750pt;
        background:#ffffff;
        border-left-style:solid;
        border-left-width:1px;
        border-left-color:#000000;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:2px;
        border-bottom-color:#000000;
        vertical-align:top;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
.td132 {
        width:84.000pt;
        background:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:2px;
        border-bottom-color:#000000;
        vertical-align:top;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
.td133 {
        width:351.751pt;
        background:#ffffff;
        border-right-style:solid;
        border-right-width:1px;
        border-right-color:#000000;
        border-bottom-style:solid;
        border-bottom-width:2px;
        border-bottom-color:#000000;
        vertical-align:top;
        padding-left:6.00pt;
        padding-top:3.00pt;
        padding-right:6.00pt;
        padding-bottom:3.00pt;
}
